:root{
	--blanco:#FFFFFF;
	--gris_1:#E9E9F0;
	--gris_2:#7D8386;
	--gris_3:#3E4548;
	--rojo:#D52B1E;
	--rojo_1:#D9534F;
	--rojo_2:#A5241A;
}
/* para que el body baje por el navbar fixed */
body {
  padding-top: 4.5rem;
  background-color: #FCFCFC;
  font-family: Roboto, sans-serif;
}
.navbar{
	box-shadow: 0px 3px 3px rgba(0,0,0,.1);
}

.search_nav input{
	min-width: 500px;
}
@media (max-width:767px){
	.search_nav input{
		min-width: 200px;
	}
}
input[type=range]{
	display: block;
}
.slider {
  appearance: none;
  width: 100%; /* Full-width */
  height: 10px; /* Specified height */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
legend{
	display: inline-block;
	margin-bottom: .5rem;
	font-size: 1rem;
}
textarea{
	width: 100%;
	min-height: 100px;
	border:1px solid #cccccc;
	padding:1rem;
}
/* progres bar */
.progress{
	height: 5px;
}
input[type=text]{
	border:1px solid var(--gris_1);
	border-radius: 4px;
}
.label_12_ttu_fwb_gris{
	color:var(--gris_2);
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
}
.label_13_ttu_fwb_rojo{
	color:var(--rojo_2);
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
}
.t16_rojo{
	font-size: 16px;
	color: var(--rojo_2);
}
.t21_rojo{
	font-size: 21px;
	color: var(--rojo_2);
	font-weight: 300;
}
/* ********** — LOGIN ********** — */
/* fond de ilustracion del login */
.bg_ilustracion{
	background-image: url('../img/bg_login.svg');
	background-repeat: no-repeat;
	background-size: contain;
}

/* parche para acortar el alto del navbar */
.navbar form.form-inline {
    margin-bottom: 0px;
}
.navbar-dark .navbar-nav .nav-link{
	color:var(--blanco);
}




.bg-danger{
	background-color: var(--rojo) !important;
}

.navbar-dark .navbar-toggler{
	border:0px;
	outline: none;
}
@media (max-width: 576px){
	.navbar-nav{
		flex-direction: row !important;
		margin-top:20px;
		justify-content: space-evenly;
	}
	.navbar-nav .dropdown-menu{
		position: absolute;
		background-color: var(--rojo);
		border-radius: 0px;
		border: 0px;
		top: 40px;
	}
}


/* Estilos generales */


/* usuario top nav */
.usuario_top{
	width: 32px;
	height: 32px;
	display: block;
}
	.usuario_top img{
		width: 100%;
		height: 100%;
	}

/* Timeline principal */
.comparte_top span{
	display: inline-block;
}
	.comparte_top .card-header{
		background-color:#E9E9F0;
	}
	.comparte_top input.publicacion_basica {
		width: 100%;
		padding: 20px;
		border: 0px;
		font-size: 16px;
	}

	.comparte_top .btn_tipo_publicacion{
		background-color: #E9E9F0;
		padding: 8px 16px 8px 12px;
		border-radius: 23px;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 1px;
		color:var(--rojo_2);
	}
		.comparte_top .btn_tipo_publicacion:hover{
			text-decoration: none;
			background-color: rgb(235, 235, 235);
			color:var(--rojo);
		}

/* usuario publicante */
.publicacion_full .card-body{
	padding: 0;
}
.usuario_publicante{
	display: flex;
}
	.up_imagen{
		width: 40px;
		height: 40px;
	}
	.up_nombre{
		font-size: 16px;
		color:#3E4548;
		margin: 0;
		line-height: 1.25;
	}
	.up_tiempo_publicacion{
		margin: 0;
		font-size: 12px;
		color:#90949C;
		line-height: 1;
	}
	.imagen_publicacion .imagen_p{
		width:100%;
	}
	.titulo_publicacion{
		font-size: 18px;
		font-weight: bold;
	}
	.texto_publicacion{
		font-size: 16px;
		font-weight: normal;
	}
	.acciones_publicacion{
		display: flex;
		border-top:1px solid rgba(0,0,0,.125);
		border-bottom:1px solid rgba(0,0,0,.125);
	}


		.comentario_cp{
			width: 100%;
			/* border-bottom:1px solid #F3F4F4; */
		}
			.texto_comentario{
				background-color:#F3F4F4;
				border-radius:12px;
				display: inline-block;
				width:calc(100% - 40px);
			}
				.comentario_tc{
					font-size: 14px;
				}
			.icono_tc{
				display: inline-block;
			}
	.usuario_comentario	{
		display: flex;
	}
		.imagen_uc{
			display: flex;
		}
			.nombre_tc{
				font-weight: bold;
			}
			.imagen_uc img{
				width: 30px;
				height: 30px;
			}
		.comentario_uc{
			width:100%;
			border:1px solid #DDDFE2;
			border-radius: 4px;
		}

/* Aside izquierd home */
.info_personal img{
	width:80px;
	height: 80px;
}
.nombre_info_perso{
	color:var(--rojo_2);
	line-height: 1;
}
.label_10_ttu{
	font-size: 10px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	color:var(--gris_2);
}
.info_aside{
	color:var(--gris_3);
	font-size: 14px;
}


.mas_usuarios_aside{
	display: flex;
}
.datos_mp a{
	font-size: 12px;
}

/* edit cv */
.card_curriculum .card-body{
	padding: 0;
}
#cv_personal img.imagen_usuario{
	width:62px;
	height: 62px;
}
.card_curriculum article{
	border-bottom:1px solid var(--gris_1);
}
img.imagen_empresa,
img.imagen_educacion{
	width:80px !important;
	height: 80px;
}
.titulo_educacion,
.cargo_trabajo{
	font-size: 16px;
	font-weight: normal;
	color: var(--gris_3);
}
.lugar_info_cv{
	font-size: 14px;
	font-weight: normal;
	color:var(--gris_2);
	display: block;
}
.fecha_info_cv,
.escuela_educacion_cv,
.direccion_info_cv{
	font-size: 12px;
	font-weight: normal;
	color:var(--gris_2);
	display: block;
}

.carousel-item{
	min-height: 300px;
}
#tabla_usuarios th{
	font-size: 12px;
}
#tabla_usuarios td{
	font-size: 12px;
}
div#tabla_usuarios_filter {
    text-align: end;
}

/* resultado busqueda */
.item_resultado{
	border-bottom:1px solid #CCCCCC;
}
.item_resultado:last-of-type{
	border-bottom:0px;
}


/* perfil */
.hr_menor{
	margin-left:-15px;
	margin-right:-15px;
}